

<div  class="gridBorder">
    

    <div class="row" >
                <div class="col-xl-12" >
                   <!-- <h2 class="page-header">
                        {{heading}}
                    </h2> -->
                    <ol class="breadcrumb">
                       <!-- <li class="breadcrumb-item">
                            <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
                        </li> -->
                        <li class="breadcrumb-item active" style="font-weight:bold;font-size:18px;color:#fff"><i class="fa fa-table "></i> Products</li>
                        
                    </ol>
                    <div class="pull-right" style="position:absolute;top:10px;right:20px;">
                       <!-- <app-modal ></app-modal>  -->
                   </div>                 
                    <!--<app-date-picker [dateName]="'from_date'"></app-date-picker>
                    <app-date-picker [dateName]="'to_date'"></app-date-picker>-->

                </div>
    </div>


    <form [formGroup]="searchForm"  (ngSubmit)="doSearch()">
    <div class="row " >
            <div class="col col-xl-2 col-lg-2">
                    <div class="form-group">
                            <div class="input-group datepicker-input">
                                &nbsp;&nbsp;<input  class="form-control" 
                                      formControlName="title" placeholder="Product" >                                
                            </div>
                        </div>
            </div> 

            <div class="col col-xl-2 col-lg-2">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <select  class='form-control'   formControlName="category_id" >
                                    <option value="">--Category--</option>
                                    <option *ngFor="let cat of categoryData" value={{cat.id}}>
                                            {{cat.title}}
                                     </option>
                            </select>                             
                        </div>
                    </div>
            </div> 

            <div class="col col-xl-2 col-lg-2">
                    <div class="form-group">
                            <div class="input-group datepicker-input">
                                <select  class='form-control'   formControlName="type_id">
                                        <option value="">--Type--</option>
                                        <option *ngFor="let cat of typeData" value={{cat.id}}>
                                                {{cat.title}}
                                         </option>
                                </select>                             
                            </div>
                        </div>
            </div> 
            
            <div class="col col-xl-2 col-lg-2">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <select  class='form-control'   formControlName="brand_id">
                                    <option value="">--Brand--</option>
                                    <option *ngFor="let cat of brandData" value={{cat.id}}>
                                            {{cat.title}}
                                     </option>
                            </select>                             
                        </div>
                    </div>
        </div>

        <div class="col col-xl-2 col-lg-2">
            <div class="form-group">
                    <div class="input-group datepicker-input">
                        <select  class='form-control'   formControlName="origin_id">
                                <option value="">--Origin--</option>
                                <option *ngFor="let cat of originData" value={{cat.id}}>
                                        {{cat.title}}
                                 </option>
                        </select>                             
                    </div>
                </div>
        </div>

        <div class="col col-xl-2 col-lg-2">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search "></i> Search</button>
                            &nbsp;<button type="reset" class="btn btn-danger" (click)="resetSearch()"><i class="fa fa-refresh "></i> Rest</button>
                        </div>
                    </div>
        </div>

    </div>  
    </form>
    

            
    <div class="row" >
        <div class="col col-xl-12 col-lg-12">
            
            <div id="gridPanel">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-sm-1" style="width:3%">#</th>
                        <th class="col-sm-2">Product</th>
                        <th class="col-sm-2">Category</th>
                        <th class="col-sm-2">Type</th>
                        <th class="col-sm-2">Brand</th>
                        <th class="col-sm-2">Origin</th>
                        <th class="col-sm-2">Model</th>
                        <th class="col-sm-2">Price</th>
                        <th class="col-sm-2">Stock</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of gridData;let i=index">
                        <th scope="row">{{pager.startSI + i}}</th>
                        <td>{{data.title}}</td>
                        <td>{{data.category.title}}</td>
                        <td>{{data.type.title}}</td>
                        <td>{{data.brand.title}}</td>
                        <td>{{data.origin.title}}</td>
                        <td>{{data.model}}</td>
                        <td>{{data.price1}}</td>
                        <td>{{data.stock}}</td>
                        <td><app-modal [title]=data.id></app-modal></td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>

            <form [formGroup]="pagerForm" >
            <table class="table table-bordered table-striped table-condensed cf pagefont" style="margin-bottom:2px;">
                <tr>
                <td class="col-sm-6" style="width:70%">Displaying <b>{{pager.startSI}}</b> to <b>{{pager.endSI}}</b> of <b>{{pager.totalRecords}}</b> records </td>
                <td class="text-center col-sm-6">Total pages : <b>{{pager.totalPages}}</b></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(1)"><img src="assets/images/page_first.gif" ></a></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.prev)"><img src="assets/images/page_prev.gif" ></a></td>
                <td class="col-sm-1" style="padding:8px 5px;"><input type="text" class="form-control " style="width:50px;height:25px;" (keyup)="doPager()" (blur)="doPager()"  formControlName="page" ></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.next)"><img src="assets/images/page_next.gif" ></a></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.totalPages)"><img src="assets/images/page_last.gif" ></a></td>
                </tr>
            </table> 
        </form>
        </div>
      
    </div>
</div>
