

<div  class="gridBorder">
    

    <div class="row" >
                <div class="col-xl-12" >
                   <!-- <h2 class="page-header">
                        {{heading}}
                    </h2> -->
                    <ol class="breadcrumb">
                       <!-- <li class="breadcrumb-item">
                            <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
                        </li> -->
                        <li class="breadcrumb-item " style="">Stock Details</li>
                        
                    </ol>
                    <div class="pull-right" style="position:absolute;top:10px;right:20px;">
                       <!-- <app-modal ></app-modal>  -->
                   </div>                 
                    <!--<app-date-picker [dateName]="'from_date'"></app-date-picker>
                    <app-date-picker [dateName]="'to_date'"></app-date-picker>-->

                </div>
    </div>


    <form [formGroup]="searchForm"  (ngSubmit)="doSearch()">
    <div class="row " >
        
        <div class="col col-xl-2 col-lg-2">
            <div class="form-group">
                    <div class="input-group datepicker-input">
                        <select  class='form-control'   formControlName="location_id" (change)="updateDefaultLocation()">
                                <option value="">--Location--</option>
                                <option *ngFor="let cat of locationData" value={{cat.id}}  >
                                        {{cat.title}}
                                 </option>
                        </select>                             
                    </div>
                </div>
    </div>

                   
        <div class="col col-xl-2 col-lg-2">
            <div class="form-group">
                    <div class="input-group datepicker-input">
                        <select  class='form-control'   formControlName="type_id">
                                <option value="">--Type--</option>
                                <option *ngFor="let cat of typeData" value={{cat.id}}>
                                        {{cat.title}}
                                 </option>
                        </select>                             
                    </div>
                </div>
    </div> 

           <!-- <div class="col col-xl-2 col-lg-2">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <select  class='form-control'   formControlName="category_id" >
                                    <option value="">--Category--</option>
                                    <option *ngFor="let cat of categoryData" value={{cat.id}}>
                                            {{cat.title}}
                                     </option>
                            </select>                             
                        </div>
                    </div>
            </div> -->

            
            
            <div class="col col-xl-2 col-lg-2">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <select  class='form-control'   formControlName="brand_id">
                                    <option value="">--Brand--</option>
                                    <option *ngFor="let cat of brandData" value={{cat.id}}>
                                            {{cat.title}}
                                     </option>
                            </select>                             
                        </div>
                    </div>
        </div>

        <div class="col col-xl-2 col-lg-2">
            <div class="form-group">
                    <div class="input-group datepicker-input">
                        <select  class='form-control'   formControlName="model_id">
                                <option value="">--Model--</option>
                                <option *ngFor="let cat of modelData" value={{cat.model}}>
                                        {{cat.model}}
                                 </option>
                        </select>                             
                    </div>
                </div>
        </div>

        <!--
        <div class="col col-xl-2 col-lg-2">
            <div class="form-group">
                    <div class="input-group datepicker-input">
                        <select  class='form-control'   formControlName="pattern_id">
                                <option value="">--Pattern--</option>
                                <option *ngFor="let cat of patternData" value={{cat.id}}>
                                        {{cat.title}}
                                 </option>
                        </select>                             
                    </div>
                </div>
        </div> -->


    <div class="col col-xl-3 col-lg-3">
        <div class="form-group">
                <div class="input-group datepicker-input">
                    &nbsp;&nbsp;<input  class="form-control" 
                          formControlName="title" placeholder="Search Product Here" >                                
                </div>
            </div>
</div> 
    
        <div class="col col-xl-2 col-lg-2">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search "></i> Search</button>
                            &nbsp;<button type="reset" class="btn btn-danger" (click)="resetSearch()"><i class="fa fa-refresh "></i> Rest</button>
                        </div>
                    </div>
        </div>

    </div>  
    </form>
    

            
    <div class="row" >
        <div class="col col-xl-12 col-lg-12">
            
            <div id="gridPanel">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width:3%" >No</th>
                        <th style="width:3%;text-align:center">View</th>
                        <th style="width:30%">Description</th>
                        <th style="width:4%">Group</th>
                        <!--<th style="width:4%">Category</th> -->
                        <th style="width:4%">Model</th>
                        <th style="width:4%">Brand</th>
                        <!--<th style="width:4%">Pattern</th> -->
                      
                        <th style="width:4%">Origin</th>
                        <th style="width:8%;text-align:right" >Stock</th>
                        <th style="width:8%;text-align:right">Price</th>
                        <th style="width:8%;text-align:right">Discount</th>
                        <th style="width:8%;text-align:right">Promotion</th>
                        <th style="width:10%;text-align:right">Order Qty</th>
                        <th style="width:10%;text-align:center">Cart</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of gridData;let i=index" class="rowBorder">
                        <td scope="row" style="padding:15px 0px;">{{pager.startSI + i}}</td>
                        <td style="text-align:center"><app-modal [title]=data.id></app-modal></td>
                        <td>
                        {{data.description}}
                        </td>
                        <td>{{data.type}}</td> 
                       <!-- <td>{{data.category.title}}</td> -->
                        <td>{{data.model}}</td> 
                        <td>{{data.brand}}</td>
                       <!-- <td>{{data.pattern.title}}</td> -->                     
                        <td>{{data.origin}}</td>
                        <td align="right"><span  *ngIf="data.stock >0">{{data.stock}}</span>
                            <span  *ngIf="data.stock==0" style="color:red;">No Stock</span></td>
                        <td align="right">{{data.price1}}</td>
                        <td align="right">{{data.total_discount_text}}</td>
                        <td align="right"><span *ngIf="data.promo_buy>0">{{data.promo_buy}}</span> <span *ngIf="data.promo_get>0"> + {{data.promo_get}}</span></td>
                  
                        
                        <td  align="right"><div *ngIf="data.stock >0"><input class="form-control " type="text" value=""   style="width:100px" id="qty_{{data.id}}" (keyup)="validateNumber($event)"  ></div></td> <!--(blur)="updateStock($event,data.id)" -->
                        <td style="text-align:center">
                            
                                    <button *ngIf="data.stock >0 && data.price1 >0" type="submit" class="btn btn-primary btn-sm" (click)="addToCart($event,data)"> Add to cart</button>
                                    <button *ngIf="data.stock ==0" type="submit" class="btn btn-danger btn-sm" (click)="openModalDialogEnquiry($event,data.id)"><i class="fa fa-save"></i> Enquiry</button>
                              
                        </td>
                       
                    </tr>
                    
                    </tbody>
                </table>
            </div>

            <form [formGroup]="pagerForm" >
            <table class="table table-bordered table-striped table-condensed cf pagefont" style="margin-bottom:2px;">
                <tr>
                <td class="col-sm-6" style="width:70%">Displaying <b>{{pager.startSI}}</b> to <b>{{pager.endSI}}</b> of <b>{{pager.totalRecords}}</b> records </td>
                <td class="text-center col-sm-6">Total pages : <b>{{pager.totalPages}}</b></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(1)"><img src="assets/images/page_first.gif" ></a></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.prev)"><img src="assets/images/page_prev.gif" ></a></td>
                <td class="col-sm-1" style="padding:8px 5px;"><input type="text" class="form-control " style="width:50px;height:25px;" (keyup)="doPager()" (blur)="doPager()"  formControlName="page" ></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.next)"><img src="assets/images/page_next.gif" ></a></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.totalPages)"><img src="assets/images/page_last.gif" ></a></td>
                </tr>
            </table> 
        </form>
        </div>
      
    </div>
</div>



<!-- Button to Open the Modal -->      
<!-- The Modal -->
<div class="modal" id="myModalEnquiry" [ngStyle]="{'display':Enquirydisplay}">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-fw fa-address-card "></i>&nbsp;Enquiry</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModalDialogEnquiry()" >&times;</button>
            </div>

            <!-- Modal body -->
            <form role="form" [formGroup]='EnquiryFormData' (ngSubmit)="doSendEnquiry()">
            <div class="modal-body">

                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input type="text"  class="form-control" placeholder="Quantity"
                                            formControlName="quantity" (keyup)="validateNumber($event)" />
                                        
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <textarea   class="form-control" placeholder="your comment"
                                              formControlName="comment"  ></textarea>
                                        
                                    </div>
                                </div> 
                                
                                
                           
                        
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">                
                <button class="btn  btn-primary" type="submit" ><i class="fa fa-fw fa-save "></i>&nbsp;Submit</button>
                <button type="button" class="btn btn-danger" (click)="closeModalDialogEnquiry()" ><i class="fa fa-fw fa-close "></i>&nbsp;Close</button>
            </div>

        </form>

            </div>
        </div>
</div>