<nav class="navbar navbar-expand-lg fixed-top">
    <a id="panel_username" class="navbar-brand" href="#" style="font-size:30px;" (click)="showSpinner(0)">{{loggedUser}} </a>
    <a id="panel_logo" class="navbar-brand" href="#"  style="display:none;" (click)="showSpinner(0)"><img class="mainimage" src="assets/images/logosmall.png" style="height:50px;"  alt=""/> </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!--><form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form> -->

        
    
          

        
    </div>

    
    <!--
    <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
              <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item"><li><i class="fa fa-fw fa-gear"></i> Tables</li></a>
              <li class="dropdown-divider"></li>
              <a [routerLink]="['/tyres']" [routerLinkActive]="['router-link-active']" class="list-group-item"><li><i class="fa fa-fw fa-gear"></i>Table2</li></a>
              <li class="dropdown-divider"></li>
              <a [routerLink]="['/orders']" [routerLinkActive]="['router-link-active']" class="list-group-item"><li><i class="fa fa-fw fa-gear"></i>Table 3</li></a>
            </div>
          </div>
        -->

        <a href="javascript:void(0);" class="nav-link" style="color:#fff" (click)="openModalDialogCart()">
                <img src="assets/images/cart.png" style='height:30px;'>
                <span id="cartTotal" class="badge badge-notify" style="position:relative;right:10px;top:-5px;color:black;font-size:18px;"></span>
     
        </a>

        <a class="nav-link" style="color:#fff" [routerLink]="['/tyres']" [routerLinkActive]="['router-link-active']" (click)="showSpinner(1)">
            
                <i class="fa fa-table "></i> Products
         
        </a> 
       &nbsp;
       <a class="nav-link" style="color:#fff" [routerLink]="['/orders']" [routerLinkActive]="['router-link-active']" (click)="showSpinner(1)">
       
        <i class="fa fa-list "></i> Orders
      
    </a> 

    <a class="nav-link" style="color:#fff" [routerLink]="['/address']" [routerLinkActive]="['router-link-active']" (click)="showSpinner(1)">
            
        <i class="fa fa-table "></i> Address Book
 
</a> 


                  <ul class="navbar-nav ml-auto">
                    <!--
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                            <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                        </a>
                        <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                            <li class="media">
                                <img class="d-flex align-self-center mr-3"
                                    src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                                >
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">John Smith</h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </li>
                            <li class="media">
                                <img class="d-flex align-self-center mr-3"
                                    src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                                    alt="Generic placeholder image"
                                >
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">John Smith</h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </li>
                            <li class="media">
                                <img class="d-flex align-self-center mr-3"
                                    src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                                    alt="Generic placeholder image"
                                />
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">John Smith</h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                            <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu-right" ngbDropdownMenu>
                            <a href="javascript:void(0)" class="dropdown-item">
                                {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item">
                                {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item">
                                {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                            </a>
                            <li class="dropdown-divider"></li>
                            <a href="javascript:void(0)" class="dropdown-item">
                                {{ 'View All' | translate }}
                            </a>
                        </div>
                    </li> -->
                    
                    <li class="nav-item dropdown" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                            <i class="fa fa-user"></i> {{loggedUser}} <b class="caret"></b>
                        </a>

                        <div class="dropdown-menu-right" ngbDropdownMenu>  
                
                            <a href="javascript:void();" (click)="openModalDialogProfile()"   class="list-group-item"><li><i class="fa fa-fw fa-user"></i> Profile</li></a>
                            <li class="dropdown-divider"></li>
                            <a href="javascript:void();" (click)="openModalDialogPassword()" class="list-group-item"><li><i class="fa fa-fw fa-key"></i> Password</li></a>
                            <li class="dropdown-divider"></li>
                            <a href="javascript:void();" (click)="onLoggedout()" class="list-group-item"><li><i class="fa fa-fw fa-sign-out"></i>Logout</li></a>
                          </div>

                   
                    </li>
                </ul>

                  
</nav>








<!-- Button to Open the Modal -->

      
<!-- The Modal -->
<div class="modal" id="myModal" [ngStyle]="{'display':profiledisplay}">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-fw fa-address-card "></i>&nbsp;My Profile</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModalDialogProfile()" >&times;</button>
            </div>

            <!-- Modal body -->
            <form role="form" [formGroup]='formData' (ngSubmit)="doSendProfile()">
            <div class="modal-body">
                   
                            <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input  class="form-control" placeholder="First Name"
                                              formControlName="firstname"  >
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input  class="form-control" placeholder="Last Name"
                                              formControlName="lastname"  >
                                        
                                    </div>
                                </div>
                    
                    
                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input class="form-control" placeholder="Email"
                                            formControlName="email" >
                                        
                                    </div>
                                </div>  
                                
                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input  class="form-control" placeholder="Phone"
                                              formControlName="phone"  >
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <textarea  class="form-control" placeholder="Address"
                                              formControlName="address"  ></textarea>
                                        
                                    </div>
                                </div>
                           
                        
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                    <button class="btn  btn-primary" type="submit" ><i class="fa fa-fw fa-save "></i>&nbsp;Save</button>
                <button type="button" class="btn btn-danger" (click)="closeModalDialogProfile()" ><i class="fa fa-fw fa-close "></i>&nbsp;Close</button>
            </div>

        </form>

            </div>
        </div>
</div>



<!-- Button to Open the Modal -->      
<!-- The Modal -->
<div class="modal" id="myModalPassword" [ngStyle]="{'display':passworddisplay}">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-fw fa-address-card "></i>&nbsp;Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModalDialogPassword()" >&times;</button>
            </div>

            <!-- Modal body -->
            <form role="form" [formGroup]='passwordFormData' (ngSubmit)="doSendPassword()">
            <div class="modal-body">
                   
                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input  type="password" class="form-control" placeholder="Current Password"
                                              formControlName="current_password"  >
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input type="password" class="form-control" placeholder="New Password"
                                              formControlName="new_password"  >
                                        
                                    </div>
                                </div>
                    
                    
                                <div class="form-group">
                                    <div class="input-group datepicker-input">
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            formControlName="confirm_password" >
                                        
                                    </div>
                                </div>                               
                           
                        
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                    <button class="btn  btn-primary" type="submit" ><i class="fa fa-fw fa-save "></i>&nbsp;Submit</button>
                <button type="button" class="btn btn-danger" (click)="closeModalDialogPassword()" ><i class="fa fa-fw fa-close "></i>&nbsp;Close</button>
            </div>

        </form>

            </div>
        </div>
</div>




   
<!-- The Modal -->
<div class="modal" id="myModalCart" [ngStyle]="{'display':cartdisplay}" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-fw fa-address-card "></i>&nbsp;Shopping Cart</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModalDialogCart()" >&times;</button>
        </div>

        <!-- Modal body -->
        <form role="form" [formGroup]='cartDetails' (ngSubmit)="doSendCart()">
        <div class="modal-body" style="padding:1px;">
            <div style="max-height:400px;overflow-x:auto" >   
                <div class="table-responsive">
                <table class="table table-bordered">
                <thead>
                <tr >
                    <th style="width:3%">Delete</th>
                    <th  style="width:3%">No</th>
                    
                    <th style="width:3%">Product</th>                    
                    <th  style="width:3%;text-align:right">Price</th>                   
                    
                    <th  style="width:3%;text-align:right">Qty</th>
                    <th  style="width:3%;text-align:right">Total</th>
                    <th  style="width:3%;text-align:right">Vat Rate</th>
                    <th  style="width:3%;text-align:right">Vat Amt</th>
                    <th  style="width:3%;text-align:right">G.Total</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of cartData;let i=index" class="rowBorder" >
                        <td><a href="javascript:void(0);" class="btn btn-success btn-sm" (click)="removeCart(data)"><i class="fa fa-remove"></i> </a>
                        </td>
                    <td style="padding:10px" scope="row">{{ i+1}}</td>
                    <td >{{data.title}}
                    </td>
         
                    <td style="text-align:right">{{data.price}}</td>
                    <td style="text-align:right">{{data.order_quantity}}</td>
                    <td style="text-align:right">{{data.total_price}}</td>
                    <td style="text-align:right">{{data.vat_rate}}</td>
                    <td style="text-align:right">{{data.vat_amount}}</td>
                    <td style="text-align:right">{{data.grant_total}}</td>
                    
                    
                </tr>
                <tr  class="rowBorder">
                    <td colspan="8" style="text-align:right"><b>Sub Total</b></td>
                    
                    <td style="text-align:right"><b>{{ getTotal()[0] }}</b></td>
                    
                </tr>
                <tr  class="rowBorder">
                    <td colspan="8" style="text-align:right"><b>Vat Total</b></td>
                    
                    <td style="text-align:right"><b>{{ getTotal()[1] }}</b></td>
                    
                </tr>
                <tr  class="rowBorder">
                    <td colspan="8" style="text-align:right"><b>Grand Total</b></td>
                    
                    <td style="text-align:right"><b>{{ getTotal()[2] }}</b></td>
                    
                </tr>
               
                </tbody>
            </table> </div>       
            </div>
            <div class="form-group row" style="padding:10px;">
                <div class="col-sm-6">
                        
                        <label for="inputLastname"> Delivery Address</label>
                        <select  class='form-control'   formControlName="delivery_id" >
                            <option value="">--Address--</option>
                            <option *ngFor="let cat of addressData" value={{cat.id}}>
                                    {{cat.address}} {{cat.city}} {{cat.pin}}
                             </option>
                    </select>   


                    <label for="inputLastname"> LPO Number</label>
                        <input type="text" class="form-control" formControlName="lom"  >
                </div>

                <div class="col-sm-6">
                        <label for="inputLastname"> Note</label>
                        <textarea class="form-control" formControlName="order_note"  style="height:100px;"></textarea>
                </div> 
                        

        </div>
                    
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

            <button class="btn  btn-primary" type="submit" ><i class="fa fa-fw fa-save "></i>&nbsp;Place Order</button>
            <button type="button" class="btn btn-danger" (click)="closeModalDialogCart()" ><i class="fa fa-fw fa-close "></i>&nbsp;Close</button>
        </div>

    </form>

        </div>
    </div>
</div>
