

<div  class="gridBorder">
    

    <div class="row" >
                <div class="col-xl-12" >
                   <!-- <h2 class="page-header">
                        {{heading}}
                    </h2> -->
                    <ol class="breadcrumb">
                       <!-- <li class="breadcrumb-item">
                            <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a>
                        </li> -->
                        <li class="breadcrumb-item active" style="font-weight:bold;font-size:18px;color:#fff"><i class="fa fa-table "></i> Orders</li>
                        
                    </ol>
                    <div class="pull-right" style="position:absolute;top:10px;right:20px;">
                        <!--<app-modal ></app-modal> --> 
                   </div>                 
                    <!--<app-date-picker [dateName]="'from_date'"></app-date-picker>
                    <app-date-picker [dateName]="'to_date'"></app-date-picker>-->

                </div>
    </div>


    <form [formGroup]="searchForm"  (ngSubmit)="doSearch()">
    <div class="row" >
           
            
            <div class="col col-xl-2 col-lg-2">
                    <div class="form-group">
                            <div class="input-group datepicker-input">
                               &nbsp;&nbsp; <input  class="form-control" placeholder="yyyy-mm-dd"
                                      formControlName="from_date" ngbDatepicker #d1="ngbDatepicker"  >
                                <button class="input-group-addon" (click)="d1.toggle()" type="button">
                                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
            </div> 

            <div class="col col-xl-2 col-lg-2">
                    <div class="form-group">
                            <div class="input-group datepicker-input">
                                <input  class="form-control" placeholder="yyyy-mm-dd"
                                      formControlName="to_date" ngbDatepicker #d2="ngbDatepicker" >
                                <button class="input-group-addon" (click)="d2.toggle()" type="button">
                                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
            </div>
            <!--
            <div class="col col-xl-3 col-lg-4">
                    <div class="form-group">
                            <div class="input-group datepicker-input">
                                <select  class='form-control'   formControlName="tyre_id" >
                                        <option value="0">--All --</option>
                                        <option *ngFor="let cat of tyreData" value={{cat.id}}>
                                                {{cat.title}}
                                         </option>
                                </select>                             
                            </div>
                        </div>
                </div> 
                -->
          


            <div class="col col-xl-2 col-lg-4">
                <div class="form-group">
                        <div class="input-group datepicker-input">
                            <button type="submit" class="btn btn-secondary">Submit Button</button>
                        </div>
                    </div>
        </div>
    </div>  
    </form>
    

            
    <div class="row" >
        <div class="col col-xl-12 col-lg-12">
            
            <div id="gridPanel">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>User Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of gridData">
                        <th scope="row">1</th>
                        <td>{{data.id}}</td>
                        <td>Otto</td>
                        <td>@mdo<app-modal [title]=data.id></app-modal></td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>

            <form [formGroup]="pagerForm">
            <table class="table table-bordered table-striped table-condensed cf pagefont" style="margin-bottom:2px;">
                <tr>
                <td class="col-sm-6" style="width:70%">Displaying <b>{{pager.startSI}}</b> to <b>{{pager.endSI}}</b> of <b>{{pager.totalRecords}}</b> records </td>
                <td class="text-center col-sm-6">Total pages : <b>{{pager.totalPages}}</b></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(1)"><img src="assets/images/page_first.gif" ></a></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.prev)"><img src="assets/images/page_prev.gif" ></a></td>
                <td class="col-sm-1" style="padding:8px 5px;"><input type="text" class="form-control " style="width:50px;height:30px;" (keyup)="doPager()" (blur)="doPager()"  formControlName="pageNo" ></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.next)"><img src="assets/images/page_next.gif" ></a></td>
                <td class="col-sm-1"><a href="javascript:void(0)" (click)="pagination(pager.totalPages)"><img src="assets/images/page_last.gif" ></a></td>
                </tr>
            </table> 
        </form>
        </div>
      
    </div>
</div>
