/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

#gridPanel{
    overflow-y: scroll;background-color:#fff;border-bottom:1px solid #65bbbf;
}
.gridBorder{
    border:1px solid #00979d;
}

.modal-header{
    background-color:#086266;
    border-radius:0px;
    border:1px solid #086266;
    color:#fff;
    padding:8px;
    font-size:18px;
}

.modal-content{
    border-radius:0px;
    border:1px solid #086266;
}
.modal-body{
    padding-bottom:0px;
}

.modal-footer{
    padding:5px;
    background-color:#dee2e6
}

.list-group-item{
    border:none;
    
    border-radius:none;
}
.list-group-item:hover{
    background-color:#70d6d8;
    border-radius:0px !important;
}

.dropdown-menu{
    padding:0px;
    border-radius:0px !important;
    left:6px;
}

.dropdown-divider{
    margin:1px;
}



.form-control{
    border-radius:0px;
}

.breadcrumb{
    padding:5px;
    background-color:#00979d;
    border-radius:0px;
    color:#fff;
    font-size:18px;
}

.table td{
    vertical-align:middle;
    padding:0px 5px;
}
.pagefont{
    font-size:13px;
}

.table th{
    vertical-align:middle;
    background-color:#eff7f7;
    padding:5px 3px;
}