/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

#gridPanel{
   /* overflow-y: scroll;
    background-color:#fff;border-bottom:1px solid #65bbbf;*/
}
.gridBorder{
    /*border:1px solid #00979d;*/
    margin:15px;
}

.modal-header{
    background-color:#d26067; /* 086266*/
    border-radius:0px;
    border:1px solid #d26067;
    color:#fff;
    padding:8px;
    font-size:18px;
}

.modal-content{
    border-radius:0px;
    border:1px solid #d26067;
}
.modal-body{
    padding-bottom:0px;
}

.modal-footer{
    padding:5px;
    background-color:#fb8289
}

.list-group-item{
    border:none;
    
    border-radius:none;
}
.list-group-item:hover{
     background-color:#ff8080; /* #70d6d8;*/
    border-radius:0px !important;
}

.dropdown-menu{
    padding:0px;
    border-radius:0px !important;
    left:6px;
}

.dropdown-divider{
    margin:1px;
}



.form-control{
    border-radius:0px;
}

/* page heading */
.breadcrumb{
    padding:10px;
    background-color:#fda0a5; /* #8dc9c1*/
    border-radius:0px;
    color:#fff;
    font-size:25px;
}

.table td{
    vertical-align:middle;
    padding:0px 5px;
}
.pagefont{
    font-size:13px;
}

.table th{
    vertical-align:middle;
    background-color:#ffc1c4;
    padding:5px 3px;
}

.table-bordered, .table-bordered td, .table-bordered th{
    border:none;
}
.rowBorder{
    border-bottom:1px solid #fdc2c6;
}
.main-container{
    margin-top:72px !important;
}

.modal-lg{
    width:1000px !important;
}

