<div style="border:15px solid #2F2E2E;margin-top:25px;"></div>
<div [@routerTransition] >


  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <img [src]="image" alt="Random first slide" style="width:100%">
     
    </ng-template>
    
  </ngb-carousel>





   
    <div class="heconttyre" ng-style="{'background-image':'url(assets/images/redback.png)'}"><img src="assets/images/tyremainimage.png"   alt="" class="brimage1"/></div>


    <div class="hecont">
      
      <div class="container" id="myvergap">
      
      
      
      
      
      
      
      
      
      <div class="row justify-content-md-center">
      <div class="hetext1">
          <p>SAFEER TYRES IS OFFERING YOU THE BEST <br>
            SOLUTION FOR YOUR TIRE  NEED.</p>
        </div>
        <div class="hetext2">We sell tire brands like Bridgestone, Michelin, Dunlop, Goodyear, Pirelli, Continental,<br>

          Sumitomo, Nexen, Kumho, Hankook and other value tire.</div>
      </div>
      
      
      
      
      
      
      
      
      
      <div class="row justify-content-md-center">
      
      <div class="col-sm-4" id="myvergap2">
        <div class="mycolbor">
        <div class="myh1"><img src="assets/images/ico1.png" width="54" height="53"  alt=""/></div>
          <div class="myh1">AVAILABILITY</div>
          <div class="sectext">We specialize in unusual and hard to find tyres! Most sizes and brands in stock or available for immediate delivery!</div>
        </div>
      </div>
      
      
      <div class="col-sm-4" id="myvergap2">
        <div class="mycolbor">
          <div class="myh1"><img src="assets/images/ico2.png" width="54" height="53"  alt=""/></div>
          <div class="myh1">UNBEATABLE PRICES</div>
          <div class="sectext">We’ll beat any price on every product we carry by 2%. Any competitor’s authorized price. Any brand!</div>
        </div>
      </div>
      
      <div class="col-sm-4" id="myvergap2">
        <div class="mycolbor">
          <div class="myh1"><img src="assets/images/ico3.png" width="54" height="53"  alt=""/></div>
          <div class="myh1">FAST DELIVERY</div>
          <div class="sectext">We offer daily (in some areas we deliver two, three or four times a day) delivery at no charge. </div>
        </div>
      </div>
      
      
      </div>
      </div>
      </div>

      
    <div class="container" id="myvergap">
   

            <div class="row justify-content-md-center">
                 
              <div class="hetext1">
                  <p><img src="assets/images/brands.png"  alt="" width="812" height="449" class="brimage"/></p>
              </div>
                
            </div>
    </div>
    
      


</div>
