<div [@routerTransition]>
 
    <div class="mainim"><img class="mainimage" src="assets/images/mauinimage1.png" width="1600" height="744"  alt=""/></div>
    <div class="hecont">
      <div class="hetext1">Welcome Our Valuble Customer!!</div>
      <div class="hetext2">Now you can easly send your orders hrough our application</div>
      <div class="hetext3">Please keep your stock details updated</div>
    </div>
    <div class="container" id="myvergap">
    <div class="row justify-content-md-center">
    <div class="col-sm-4" id="myvergap2">
      <a class="nav-link" style="color:#fff" [routerLink]="['/tyres']" [routerLinkActive]="['router-link-active']" >
      <div class="mycolbor">
        <div class="myh1">Products</div>
        <div class=""><img class="mainimage" id="myvergap1" src="assets/images/secin1.png" width="308" height="134"  alt=""/></div>
        <div class="sectext">dfg fdg dfg dfg dfg f gh fghfgh  hfghfgh fghf ghgfdfg fdg dfg dfg fdg fdg </div>
      </div>
      </a>
    </div>
    
    
    <div class="col-sm-4" id="myvergap2">
        <a class="nav-link" style="color:#fff" [routerLink]="['/orders']" [routerLinkActive]="['router-link-active']" >
       
      <div class="mycolbor">
        <div class="myh2">Orders</div>
        <div class=""><img class="mainimage" id="myvergap1" src="assets/images/secin2.png" width="308" height="134"  alt=""/></div>
        <div class="sectext">dfg fdg dfg dfg dfg f gh fghfgh  hfghfgh fghf ghgfdfg fdg dfg dfg fdg fdg </div>
     
      </div>
    </a>
    </div>
   
   
    <div class="col-sm-4" id="myvergap2">
        <a class="nav-link" style="color:#fff" [routerLink]="['/tyres']" [routerLinkActive]="['router-link-active']" >
      
      <div class="mycolbor">
        <div class="myh3">Stock Update</div>
        <div class=""><img class="mainimage" id="myvergap1" src="assets/images/secin3.png" width="308" height="134"  alt=""/></div>
        <div class="sectext">dfg fdg dfg dfg dfg f gh fghfgh  hfghfgh fghf ghgfdfg fdg dfg dfg fdg fdg </div>
     
      </div>
    </a>
    </div>
   
    
    </div>
    </div>
    
      


</div>
