@charset "utf-8";



.myh1 {
	font-size: 18pt;
	color: #0099FF;
}
.mainim {
	background-color: #FFFFFF;
}
.mainimage {
	width: 100%;
	height: auto;
	text-align: center;
}
.hecont {
	background-color: #8dc9c1;
	padding-top: 25px;
	padding-bottom: 25px;
}
.hetext1 {
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	padding-bottom: 20px;
}
.hetext2 {
	text-align: center;
	font-size: 18pt;
	color: #025b5a;
	font-weight: bold;
	padding-bottom: 20px;
}
.hetext3 {
	text-align: center;
	font-size: 19pt;
	color: #FFFFFF;
	font-weight: bold;
}
.itemta {
	width: 1200px;
	background-color: #009966;
	margin-left: auto;
	margin-right: auto;
}
#mycolgap {
	margin-left: 15px;
	margin-right: 15px;
}
#myvergap {
	padding-bottom: 50px;
	padding-top: 50px;
}
.myh1 {
	background-color: #00aeef;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22pt;
}
.mycolbor {
	border: 2px solid #c7efe4;
}
.sectext {
	text-align: center;
	font-size: 11pt;
}
#myvergap1 {
	padding-bottom: 15px;
	padding-top: 15px;
	
}
#myvergap2 {
	padding-bottom: 25px;	
}
.myh2 {
	background-color: #bb9202;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22pt;
}
.myh3 {
	background-color: #92278f;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22pt;
}