
<router-outlet></router-outlet>

<div class="snackbar" id="alert_success" style="display:none" >        
        <div class="alert alert-success">
                <button type="button" class="close" aria-label="Close" style="position:absolute;top:0px;right:5px;" (click)="closeAlert();">
                                <span aria-hidden="true">&times;</span>
                </button>
                &nbsp;
                <span id="alert_success_message">Indicates a successful or positive action.</span>
        </div>
</div>

<div class="snackbar" id="alert_error" style="display:none" >        
        <div class="alert alert-danger">
                <button type="button" class="close" aria-label="Close" style="position:absolute;top:0px;right:5px;" (click)="closeAlert();">
                                <span aria-hidden="true">&times;</span>
                </button>
                &nbsp;
                <strong><i class="glyphicon glyphicon-ok"></i></strong><span id="alert_error_message">Indicates a successful or positive action.</span>
        </div>
</div>



<div style="
        position: absolute;        
        left: 47%;
        top: 40%;
        height:60px;
        width:60px;
        margin:0px auto;
        -webkit-animation: rotation .6s infinite linear;
        -moz-animation: rotation .6s infinite linear;
        -o-animation: rotation .6s infinite linear;
        animation: rotation .6s infinite linear;
        border-left:6px solid rgba(0,174,239,.15);
        border-right:6px solid rgba(0,174,239,.15);
        border-bottom:6px solid rgba(0,174,239,.15);
        border-top:6px solid rgba(0,174,239,.8);
        border-radius:100%;
        z-index:99999" id="spinner" ></div>