<button class="btn btn-primary btn-sm" (click)="open(content)" style=""><i class="fa fa-pencil-square"></i> View</button>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-table "></i> Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
   
    <div class="modal-body">
        
            
        <div class="form-group row">
            <div class="col-sm-6">
               <table class="table table-striped table-bordered">
                    <tr>
                        <td style="width:50%">Order No</td><td>{{formData.order_no}}</td>
                    </tr>
                    <tr>
                        <td>Order Date</td><td>{{formData.order_date}}</td>
                    </tr>
                    <tr>
                        <td>Status</td><td>{{formData.order_status}}</td>
                    </tr>
                    
                </table>   

 
              


               
            </div>
            <div class="col-sm-6">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td style="width:50%">Delivery Date</td><td>{{formData.delivery_date}}</td>
                    </tr>
                    <tr>
                        <td>Delivery Note</td><td>{{formData.delivery_note}}</td>
                    </tr>
                    <tr>
                            <td>Invoice</td><td>
                                <div *ngIf="showDownload" >
                                <a href="{{invoiceUrl}}"  target="_blank">
                                Download Invoice</a></div></td>
                        </tr>

                        <tr>
                                <td>Order Total</td><td>{{formData.grant_total}}</td>
                            </tr>
                    
                   </table>  
               
            </div>
        </div>

        <div class="form-group row ">
                <div class="table-responsive">
                <table class="table table-bordered">
                        <thead>
                        <tr >
                            <th  style="width:3%">No</th>
                            
                            <th style="width:15%">Product</th>                    
                            <th  style="width:10%;text-align:right">Price</th>                   
                            
                            <th  style="width:10%;text-align:right">Quantity</th>
                            <th  style="width:10%;text-align:right">Total</th>
                            <th  style="width:10%;text-align:right">Vat Rate</th>
                            <th  style="width:10%;text-align:right">Vat Amt</th>
                            <th  style="width:10%;text-align:right">G. Total</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of orderDetails;let i=index" class="rowBorder" >
                            <td scope="row">{{ i+1}}</td>
                            <td >{{data.title}}
                            </td>
                 
                            <td style="text-align:right">{{data.price}}</td>
                            <td style="text-align:right">{{data.order_quantity}}</td>
                            <td style="text-align:right">{{data.total_price}}</td>
                            <td style="text-align:right">{{data.vat_rate}}%</td>
                            <td style="text-align:right">{{data.vat_amount}}</td>
                            <td style="text-align:right">{{data.grant_total}}</td>
                            
                           
                        </tr>

                        <tr  class="rowBorder">
                            <td colspan="7" style="text-align:right"><b>Sub Total</b></td>
                            
                            <td style="text-align:right"><b>{{ getTotal()[0] }}</b></td>
                            
                        </tr>
                        <tr  class="rowBorder">
                            <td colspan="7" style="text-align:right"><b>Vat Total</b></td>
                            
                            <td style="text-align:right"><b>{{ getTotal()[1] }}</b></td>
                            
                        </tr>
                        <tr  class="rowBorder">
                            <td colspan="7" style="text-align:right"><b>Grand Total</b></td>
                            
                            <td style="text-align:right"><b>{{ getTotal()[2] }}</b></td>
                            
                        </tr>
                     
                        </tbody>
                    </table> </div>

                    

        </div>


        <div class="form-group row" style="padding:5px;">
              Note:  {{formData.order_note}}

        </div>
        <div class="form-group row" style="padding:5px;">
           LPM Number:  {{formData.lom}}

        </div>
        <div class="form-group row" style="padding:5px;">
            Delivery Address:  {{formData.address}},  {{formData.city}},  {{formData.pin}}
 
         </div>
            

        
    </div>

    <div class="modal-footer">                             
            <button type="button" class="btn btn-danger" (click)="c('Close click')"><i class="fa fa-remove"></i> Close</button>
    </div>

</ng-template>