<button class="btn btn-primary btn-sm" (click)="open(content)" style=""><i class="fa fa-pencil-square"></i> View</button>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-table "></i> Order Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form role="form" [formGroup]='formData' (ngSubmit)="doSend()">
    <div class="modal-body">
        
            
        <div class="form-group row">
            <div class="col-sm-6">
               <table class="table table-striped table-bordered">
                    <tr>
                        <th>Order No</th><td>{{formData.order_no}}</td>
                    </tr>
                    <tr>
                        <th>Order Date</th><td>{{formData.order_date}}</td>
                    </tr>
                    <tr>
                        <th>Status</th><td>{{formData.order_status}}</td>
                    </tr>
                    <tr>
                        <th>Invoice</th><td>{{formData.invoice}}</td>
                    </tr>
                </table>   

                <table class="table table-striped table-bordered">
                    <tr>
                             <th>Order Quantity</th><td>{{formData.order_quantity}}</td>
                         </tr>
                         <tr>
                             <th>Order Note</th><td>{{formData.order_note}}</td>
                         </tr>
                         <tr>
                             <th>Total Amount</th><td>{{formData.total_price}}</td>
                         </tr>
                     </table>
                    
                
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Customer</th><td>{{formData.user.firstname}} {{formData.user.lastname}}</td>
                    </tr>
                    <tr>
                        <th>Email</th><td>{{formData.user.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th><td>{{formData.user.phone}}</td>
                    </tr>
                    <tr>
                        <th>Address</th><td>{{formData.user.address}}</td>
                    </tr>
                    
               </table>
              


               
            </div>
            <div class="col-sm-6">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Delivery Date</th><td>{{formData.delivery_date}}</td>
                    </tr>
                    <tr>
                        <th>Delivery Note</th><td>{{formData.delivery_note}}</td>
                    </tr>
                    
                   </table>  
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Product</th><td>{{formData.tyres.title}}</td>
                    </tr>
                    <tr>
                        <th>Category</th><td>{{formData.tyres.category.title}}</td>
                    </tr>
                    <tr>
                        <th>Type</th><td>{{formData.tyres.type.title}}</td>
                    </tr>
                    <tr>
                        <th>Brand</th><td>{{formData.tyres.brand.title}}</td>
                    </tr>
                    <tr>
                        <th>Origin</th><td>{{formData.tyres.origin.title}}</td>
                    </tr>
                    <tr>
                        <th>Pattern</th><td>{{formData.tyres.pattern.title}}</td>
                    </tr>
                    <tr>
                        <th>Model</th><td>{{formData.tyres.model}}</td>
                    </tr>
                    <tr>
                        <th>Description</th><td>{{formData.tyres.description}}</td>
                    </tr>
                    <tr>
                        <th>Price</th><td>{{formData.tyres.price}}</td>
                    </tr>
                    <tr>
                        <th>Weight</th><td>{{formData.tyres.wieight}}</td>
                    </tr>
                    <tr>
                        <th>Vat %</th><td>{{formData.tyres.vat}}</td>
                    </tr>
                    
                  
               </table>
            </div>
        </div>
            

        
    </div>

    <div class="modal-footer">                             
            <button type="button" class="btn btn-danger" (click)="c('Close click')"><i class="fa fa-remove"></i> Close</button>
    </div>
</form>
</ng-template>